<html lang="'en">
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs')  %>

    <div class="about contents">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non placeat voluptate repellendus, vel fugit nesciunt dolores temporibus quos saepe vero ut aspernatur ratione totam voluptatibus rem. Impedit, libero? Quos, a?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non placeat voluptate repellendus, vel fugit nesciunt dolores temporibus quos saepe vero ut aspernatur ratione totam voluptatibus rem. Impedit, libero? Quos, a?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non placeat voluptate repellendus, vel fugit nesciunt dolores temporibus quos saepe vero ut aspernatur ratione totam voluptatibus rem. Impedit, libero? Quos, a?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>